<footer class="footer">

    <span class="footer__copyright">&copy; 2012-2017 <a href="http://www.katouspace.com/">Ka Tou (Sawatari Hiroji)</a> All Right Reserved.</span>

    <span class="footer__copyright">Powered by <a href="https://hexo.io/">Hexo</a> | Theme - <a href="https://github.com/HirojiSawatari/Sawauno">Sawauno</a> base on <a href="https://github.com/someus/huno">Huno</a></span>

    <div class="footer__copyright">
        <span>
            <a href="http://www.miitbeian.gov.cn/">皖ICP备17002338号-1</a>
        </span>
    </div>
	
    <div class="footer__copyright">
        <span>
            <%- partial('_scripts/site-analytics') %>   
        </span>
    </div>

</footer>