<footer class="footer">

    <span class="footer__copyright">&copy; 2015-2017 <a href="http://www.katouspace.com/">Ka Tou (Sawatari Hiroji)</a> All Right Reserved | Powered by <a href="https://hexo.io/">Hexo</a> | Theme - <a href="https://github.com/HirojiSawatari/Sawauno">Sawauno</a> base on <a href="https://github.com/someus/huno">Huno</a></span>
    <br/>
    
    <div class="footicon-wrap">
        <span>
    	    <%- partial('_scripts/site-analytics') %>    
        </span>
    </div>

</footer>